{% extends "global/Page.html" %}
{% load static otree %}

{% block content %}
<body class="bg-light">
    <div class="card">
        <div class="card-header text-center font-weight-bold">
            <h5 class="card-title"> </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
            <p align="justify">
            Prima di iniziare a misurare l'attività elettrodermica, è necessario calibrare il segnale.
            <br><br>
            Ti chiediamo di assicurarti si di essere seduto comodamente.
            <br><br>
            Ti verrà chiesto di non muovere la mano su cui abbiamo fissato i sensori.
            <br><br>
            Se ti senti a disagio, alza l’altra mano e lo sperimentatore ti aiuterà.
            </p>
        </div>
        <div class="card-footer text-right">
<!--                 <button name="btn_submit" value="True" class="btn btn-primary btn-large" >-->
<!--                  <span style="font-size:12pt">Avanti</span>-->
<!--             </button>-->
        </div>
    </div>
</body>

{% endblock %}