{% extends "global/Page.html" %}
{% load static otree %}

{% block content %}
<body class="bg-light">
    <div class="card">
        <div class="card-header text-center font-weight-bold">
            <h5 class="card-title">Informazioni sullo studio</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
            <p align="justify">
            Lo studio si svolgerà nelle seguenti fasi:
            <br><br>
            <b>Fase 1</b>: Istruzioni
            <br><br>
            <b>Fase 2</b>: Domande relative ad alcuni prodotti secondari di macellazione.
            <br><br>
            <b>Fase 3</b>: Questionario
            <br><br>
            <b>Fase 4</b>: Fine
            </p>
        </div>
        <div class="card-footer text-right">
                 <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        </div>
    </div>
</body>

{% endblock %}